body {
  max-width: 100%;
  margin: 0 auto;
}

/* navbar css start */
.navbar-container {
  width: 100%;
  position: fixed;
  backdrop-filter: blur(100px);
}
.navbar-container .navbar-containt {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 43.85px;
  height: 58.76px;
  margin: 0 auto;
}

.logo {
  height: 16.71px;
  width: 107.54px;
}
.navbar {
  text-align: right;
  gap: 22.27px;
  margin-left: 0;
  margin-left: 0;
}

.navbar ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 22.27px;
}
.navbar ul li a {
  flex-direction: column;
  text-decoration: none;
  height: 17px;
  width: 71px;
  position: relative;
}
.navbar ul li a::before {
  content: "";
  background-color: #00554f;
  height: 3px;
  width: 0;
  position: absolute;
  left: 0;
  bottom: -3px;
}
.navbar ul li:hover a::before {
  width: 100%;
  transition: all 0.3s;
}
.navbar button {
  height: 36.49px;
  width: 133.25px;
  line-height: 16.71px;
  border-radius: 5px;
  border: none;
}

/* navbar css end*/

/* banner start*/
.header-container {
  background-color: #f5f7fa;
  padding-bottom: 10px;
  height: 100vh;
  display: flex;
  align-items: center;
}
/* banner end*/
.banner-container {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 72.39px;
  text-align: center;
}
.banner-img {
  display: flex;
  align-items: center;
}
.banner-img img {
  width: 100%;
}
.banner-title-continer {
  text-align: left;
}
.banner-title-continer .banner-title {
  font-size: 44.55px;
  font-weight: 44.55px;
  color: #2e7d31;
}
.banner-title {
  font-size: 11.14px;
  line-height: 52.9px;
}
.banner-paragraph {
  line-height: 11.7px;
}

.banner__container {
  height: 192px;
  width: 457px;
}

.register-btn-container {
  text-align: left;
  margin-top: 22.7px;
}

.register-btn {
  color: white;
  height: 36.49px;
  width: 89.55px;
  border: none;
  border-radius: 5px;
}

/* 3 dott */

.slider-button-container {
  display: flex;
  justify-content: center;
  gap: 5px;
  position: absolute;
  left: 50%;
  bottom: 5px;
  transform: translate(-50%);
}
.slider-button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.dot.active {
  background-color: black;
}
/* 3 dott  end*/
/* our client start */

.our-clients-tittle {
  text-align: center;
  margin: 0 auto;
}
.  {
   font-size: 25.6px;
}
.our-clients-paragraph {
  font-size: 11.14px;
}
.our-clients-logo {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  gap: 90px;
  margin: 0 auto;
  padding: 10px 0;
}

.our-clients-logo img {
  height: 33.41px;
  width: 33.41px;
}
/* our client end*/
/* community  start */
.community-container {
  text-align: center;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
.Community-tittle {
  text-align: center;
  margin: 0 auto;
}
.community-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 1200px;
}
.community-mambership-content {
  border-radius: 5.57px;
  height: 182.1px;
  width: 208.12px;
  padding: 16.71px 22.27px;
}
.community-mambership-content img {
  height: 38.98px;
  width: 45.24px;
}

/* common tittle paragraph */
.community-title {
  font-size: 25.1px;
}
.community-paragraph {
  font-size: 9.74px;
}

.community-natinal-content {
  border-radius: 5.57px;
  padding: 16.71px 22.27px;
  height: 182.1px;
  width: 208.12px;
}
.community-natinal-content img {
  height: 38.98px;
  width: 45.24px;
}
.community-mambership-content {
  border-radius: 5.57px;
  padding: 16.71px 22.27px;
  height: 182.1px;
  width: 208.12px;
}
.community-mambership-content img {
  height: 38.98px;
  width: 45.24px;
}

/* community  end */
/* help banner start */
.help-banner {
  display: flex;
  text-align: left;
  justify-content: space-between;
  width: 1200px;
  height: 301.4px;
  margin: 0 auto;
  padding: 0 120px 0 80px;
  box-sizing: border-box;
}
.help-banner img {
  height: 320.4px;
  width: 327.66px;
}
.help-banner-here {
  text-align: left;
  height: 187.9px;
  width: 600.1px;
  margin-top: 10px;
}
.help-banner-here .help-button {
  height: 36.49px;
  width: 105.55px;
  border: none;
  border-radius: 5px;
}
/* help banner end */
/* helping  banner start */
.helping-container {
  max-width: 1200px;
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 0 auto;
  border: 3px solid;
  padding: 50px 100px;
}
.helping-tittle {
  text-align: left;

  margin: 0;
}
.helping-detaills {
}
.helping-content {
}
.helping-content h1 {
  font-size: 19.49px;
}
.helping-content .helping-paragraph {
  margin: 0 0;
  font-size: 11.14px;
}

.helping-content img {
  height: 33.41px;
  width: 33.41px;
}
.helping-text {
}
/* helping  banner end */
