body {
  max-width: 100%;
  text-align: center;
  margin: 0 auto;
}

/* navbar css start */
.navbar-container {
  width: 100%;
  position: fixed;
  backdrop-filter: blur(100px);
}
.navbar-container .navbar-containt {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 43.85px;
  height: 58.76px;
  margin: 0 auto;
}

.logo {
  height: 16.71px;
  width: 107.54px;
}
.navbar {
  text-align: right;
  gap: 22.27px;
  margin-left: 0;
  margin-left: 0;
}

.navbar ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 22.27px;
}
.navbar ul li a {
  flex-direction: column;
  text-decoration: none;
  height: 17px;
  width: 71px;
  position: relative;
}
.navbar ul li a::before {
  content: "";
  background-color: #00554f;
  height: 3px;
  width: 0;
  position: absolute;
  left: 0;
  bottom: -3px;
}
.navbar ul li:hover a::before {
  width: 100%;
  transition: all 0.3s;
}
.navbar button {
  height: 36.49px;
  width: 133.25px;
  line-height: 16.71px;
  border-radius: 5px;
  border: none;
}

/* navbar css end*/

/* banner start*/
.header-container {
  background-color: #f5f7fa;
  padding-bottom: 10px;
  height: 100vh;
  display: flex;
  align-items: center;
}
/* banner end*/
.banner-container {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 72.39px;
  text-align: center;
}
.banner-img {
  display: flex;
  align-items: center;
}
.banner-img img {
  width: 100%;
}
.banner__text {
  text-align: left;
  line-height: 52.9px;
}
.banner-title-continer {
  text-align: left;
}
.banner-title-continer .banner-title {
  font-size: 44.55px;
  font-weight: 44.55px;
  color: #2e7d31;
}
.banner-container h5 {
  font-size: 11.14px;
}
#banner__p {
  line-height: 11.7px;
}

.banner__container {
  height: 192px;
  width: 457px;
}

.register-btn-container {
  text-align: left;
  margin-top: 22.7px;
}

.register-btn {
  color: white;
  height: 36.49px;
  width: 89.55px;
  border: none;
  border-radius: 5px;
}

/* 3 dott */

.slider-button-container {
  display: flex;
  justify-content: center;
  gap: 5px;
  position: absolute;
  left: 50%;
  bottom: 5px;
  transform: translate(-50%);
}
.slider-button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.dot.active {
  background-color: black;
}
/* 3 dott  end*/
/* our client start */
.our__clients--text {
  text-align: center;
  height: 53.57px;
  width: 772.64px;
}

.our__clients--logo img {
  height: 33.41px;
  width: 33.41px;
}
/* our client start */
